<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>FunFit</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ParticipantControllerServlet</display-name>
    <servlet-name>ParticipantControllerServlet</servlet-name>
    <servlet-class>com.example.FunFit.controller.ParticipantControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParticipantControllerServlet</servlet-name>
    <url-pattern>/ParticipantControllerServlet</url-pattern>
    <url-pattern>/AddParticipant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBatchControllerServlet</display-name>
    <servlet-name>AddBatchControllerServlet</servlet-name>
    <servlet-class>com.example.FunFit.controller.AddBatchControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBatchControllerServlet</servlet-name>
    <url-pattern>/AddBatchControllerServlet</url-pattern>
    <url-pattern>/AddBatch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateParticipantServlet</display-name>
    <servlet-name>UpdateParticipantServlet</servlet-name>
    <servlet-class>com.example.FunFit.controller.UpdateParticipantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateParticipantServlet</servlet-name>
    <url-pattern>/UpdateParticipantServlet</url-pattern>
    <url-pattern>/UpdateParticipant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBatchServlet</display-name>
    <servlet-name>UpdateBatchServlet</servlet-name>
    <servlet-class>com.example.FunFit.controller.UpdateBatchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBatchServlet</servlet-name>
    <url-pattern>/UpdateBatchServlet</url-pattern>
    <url-pattern>/UpdateBatch</url-pattern>
  </servlet-mapping>
</web-app>